<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jis.platform.enrol.mapper.EnrolProductSkuMapper" >
  <resultMap id="BaseResultMap" type="com.jis.platform.enrol.entity.EnrolProductSku" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="product_id" property="productId" jdbcType="BIGINT" />
    <result column="sku_name" property="skuName" jdbcType="VARCHAR" />
    <result column="cost_price" property="costPrice" jdbcType="BIGINT" />
    <result column="sale_price" property="salePrice" jdbcType="BIGINT" />
    <result column="need_point" property="needPoint" jdbcType="BIGINT" />
    <result column="give_point" property="givePoint" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_id, sku_name, cost_price, sale_price, need_point, give_point, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from enrol_product_sku
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from enrol_product_sku
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jis.platform.enrol.entity.EnrolProductSku" >
    insert into enrol_product_sku (id, product_id, sku_name, 
      cost_price, sale_price, need_point, 
      give_point, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{skuName,jdbcType=VARCHAR}, 
      #{costPrice,jdbcType=BIGINT}, #{salePrice,jdbcType=BIGINT}, #{needPoint,jdbcType=BIGINT}, 
      #{givePoint,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jis.platform.enrol.entity.EnrolProductSku" >
    insert into enrol_product_sku
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="skuName != null" >
        sku_name,
      </if>
      <if test="costPrice != null" >
        cost_price,
      </if>
      <if test="salePrice != null" >
        sale_price,
      </if>
      <if test="needPoint != null" >
        need_point,
      </if>
      <if test="givePoint != null" >
        give_point,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="skuName != null" >
        #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="costPrice != null" >
        #{costPrice,jdbcType=BIGINT},
      </if>
      <if test="salePrice != null" >
        #{salePrice,jdbcType=BIGINT},
      </if>
      <if test="needPoint != null" >
        #{needPoint,jdbcType=BIGINT},
      </if>
      <if test="givePoint != null" >
        #{givePoint,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jis.platform.enrol.entity.EnrolProductSku" >
    update enrol_product_sku
    <set >
      <if test="productId != null" >
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="skuName != null" >
        sku_name = #{skuName,jdbcType=VARCHAR},
      </if>
      <if test="costPrice != null" >
        cost_price = #{costPrice,jdbcType=BIGINT},
      </if>
      <if test="salePrice != null" >
        sale_price = #{salePrice,jdbcType=BIGINT},
      </if>
      <if test="needPoint != null" >
        need_point = #{needPoint,jdbcType=BIGINT},
      </if>
      <if test="givePoint != null" >
        give_point = #{givePoint,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jis.platform.enrol.entity.EnrolProductSku" >
    update enrol_product_sku
    set product_id = #{productId,jdbcType=BIGINT},
      sku_name = #{skuName,jdbcType=VARCHAR},
      cost_price = #{costPrice,jdbcType=BIGINT},
      sale_price = #{salePrice,jdbcType=BIGINT},
      need_point = #{needPoint,jdbcType=BIGINT},
      give_point = #{givePoint,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>